<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Item Manager</title>
        <link rel="stylesheet" href="bootstrap.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Item Manager</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container mt-3">
            <h1>Add Item</h1>
            <form id="itemForm">
                <div class="form-group">
                    <label>Text</label>
                    <input type="text" id="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Body</label>
                    <textarea id="body" class="form-control"></textarea>
                </div>
                <input type="submit" value="Submit" class="btn btn-danger" />
            </form>
            <ul id="items" class="list-group mt-3"></ul>
        </div>

        <script
            src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"
        ></script>

        <script type="text/javascript">
            $(document).ready(function () {
                getItems();

                $("#itemForm").on("submit", function (e) {
                    e.preventDefault();

                    let text = $("#text").val();
                    let body = $("#body").val();

                    addItem(text, body);
                });

                $("body").on("click", ".deleteLink", function (e) {
                    e.preventDefault();
                    let id = $(this).data("id");

                    deleteItem(id);
                });

                function deleteItem(id) {
                    $.ajax({
                        method: "DELETE",
                        url: "http://localhost:8000/api/items/" + id,
                    }).done(function (item) {
                        alert("Item #" + id + " removed");
                        location.reload();
                    });
                }

                function addItem(text, body) {
                    $.ajax({
                        method: "POST",
                        url: "http://localhost:8000/api/items",
                        data: { text: text, body: body },
                    }).done(function (item) {
                        alert("Item #" + item.id + " added");
                        location.reload();
                    });
                }

                function getItems() {
                    $.ajax({
                        url: "http://localhost:8000/api/items",
                    }).done(function (items) {
                        let output = "";
                        $.each(items, function (key, item) {
                            output += `
                            <li class="list-group-item">
                                <strong>${item.text}: </strong>${item.body} <a href="#" class="deleteLink" data-id="${item.id}">DELETE</a>
                            </li>
                            `;
                        });
                        $("#items").append(output);
                    });
                }
            });
        </script>
    </body>
</html>
